[Unit]
 Description=Launch PageSigner notary after all other services started.

[Timer]
 #For some reason Type=idle is not enough, OnBootSec must also be present
 #otherwise there was no output on the Console
 OnBootSec=3min

 [Install]
 WantedBy=timers.target

