[Unit]
 Description=TLSNotary notary server
 ConditionPathExists=/root/systemd/tlsnotary_notaryserver.sh
 After=tlsnotary_setup.service
 Requires=tlsnotary_setup.service

[Service]
 ExecStart=/usr/bin/python3 /dev/shm/notary/notaryserver.py
 TimeoutSec=0
 StandardOutput=file:/dev/tty1
 User=notary

[Install]
 WantedBy=multi-user.target
